.Neatlikta{
  color: #820014 !important;
  background: #FFA39E !important;
  border-radius: 50px !important;
  padding: 1px 8px !important;
}

.atlikta {
  color: green !important ;
  background: #B7EB8F !important;
  border-radius: 50px !important;
  padding: 1px 8px !important;
}

.container{
  padding-left: 10px!important;
  padding-right: 10px!important;
}